
/* Path: css/style.css */
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
header, main, footer, nav, aside, section, div  {
    display: block;
}
header {
    background-color: #f5f5f5;
    width: 100%;
    height: 140px;
}
h3 {
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;

    color: #000000;

}
h5 {
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
.textbox {
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}
header > section {
    margin-left: 570px;
}
header  a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 18px;
    width: 100px;
    height: 100px;
}
#maincontainer {
   display: flex;
   margin-top: 11px;
   position: top;
}
#layout2 #maincontainer {
    margin-top: 0px;
}
.main {
    margin-left: 244px;
    margin-top: 267px;
    display: flex;
    z-index: -1;
    /* position: top; */
}
#layout2 .main {
    margin-top: 0px;
    margin-left: 151px;

}
#container{
    display: flex;
}

.col1 {
    background-color: #25902c;
    margin-top: 11px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}
#rec1 {
    width: 75px; 
     height: 23px;
}
#rec2 {
    width: 136px;
    height: 46px;
}
#rec3 {
    width: 134px;
    height: 404px;
}

#rec4 {
    width: 88px;
    height: 28px;
}
#recrow1 {
    display: flex;
    flex-direction: row;
}
#rec5{
    width: 25px;
    height: 26px;
}
#rec6{
    width: 25px;
    height: 26px;
    margin-left: 10px;
}
#rec7{
    width: 246px;
    height: 352px;
    margin-top: 0px;
}

.col2 {
    background-color: #25902c;
    margin-top: 11px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

#rec8{
    width: 123px;
    height: 212px;
    margin-top: 11px;
}
#rec9{
    width: 55px;
    height: 105px;
    margin-top: 11px;
}
#rec10{
    width: 110px;
    height: 58px;
    margin-top: 11px;
}
#rec11{
    width: 55px;
    height: 105px;
    margin-left: -20px;
    margin-top: 11px;
}
.col3{
    background-color: #25902c;
    margin-top: -9px;
    margin-left: 15px;
    display: flex;
    flex-direction: column; 
}
#rec12{
    width: 28px;
    height: 55px;
}
#rec13{
    width: 28px;
    height: 55px;
    margin-top: 11px;
}
#rec14{
    width: 28px;
    height: 55px;
    margin-top: 11px;
}
#rec15{
    width: 28px;
    height: 198px;
    margin-top: 11px;
}
#recrow2 {
    display: flex;
    flex-direction: row;
}

footer {
    margin-top: 145px;
    background-color: #030303;
    width: 1440px;
    height: 41px;
    z-index: 99;
}

#layout2 .rec {
    width: 457px;
    height: 299px;
    background-color: #c4c4c4;
    margin-top: 70px;
}

#layout2 .column1 {
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* position: relative; */
}
#layout2 .column2 {
    margin-top: 168px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* position: relative; */
}
#layout2 footer {
    margin-top: -50px;
    /* height: auto; */
    position: fixed;
    bottom: 0;
    right: 0;
    

}
#layout2 .column3 .rec {
    width: 80px;
    height: 80px;
    background-color: #000000;
    overflow: hidden;
}
nav .textbox {
    margin-top: 544px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: center;

}
#smallrec1{
    margin-top: 119px;
}
#smallrec2{
    margin-top: 48px;
    align-self: flex-end !important;
    background-color: #ffffff !important;
}

#layout2 .column3 {
    width: 169px;
    height: 100%;
    margin-left: 140px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: #EBEF18;
    overflow: hidden;
}