/* Path: css/style.css */
@viewport {
  width: 480px;
  zoom: 1;
}
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  font-family: "Amiko";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #000000;
}
a:hover {
  color: #090977;
}
a:active {
  color: #6c9025;
}
#layout1 a[href="index.html"] {
  color: #25902c;
  font-weight: 900;
  font-size: 32px;
}
#layout2 a[href="layout2.html"] {
  color: #25902c;
  font-weight: 900;
  font-size: 32px;
}
#layout3 a[href="layout3.html"] {
  color: #25902c;
  font-weight: 900;
  font-size: 32px;
}

header,
main,
footer,
nav,
aside,
section,
div {
  display: block;
}
header {
  background-color: #f5f5f5;
  width: 100%;
  height: 140px;
}
h3 {
  font-family: "Amiko";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 96px;
  color: #000000;
}
h5 {
  font-family: "Amiko";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.textbox {
  font-family: "Amiko";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
header > section {
  margin-left: 40%;
}
header a {
  display: inline-block;
  margin-top: 52px;
  margin-left: 18px;
  width: 100px;
  height: 100px;
}
.maincontainer {
  display: flex;
  margin-top: 11px;
}
#layout2 .maincontainer {
  margin-top: 0px;
  display: block;
}
.main {
  margin-left: 244px;
  margin-top: 267px;
  display: flex;
  z-index: -1;
}
#layout2 .main {
  margin-top: 0px;
  margin-left: 151px;
}
#container {
  display: flex;
}
.col1 {
  background-color: #25902c;
  margin-top: 11px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.col2 {
  background-color: #25902c;
  margin-top: 11px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
#rec11 {
  margin-top: 11px;
  margin-left: -10px;
}
.col3 {
  background-color: #25902c;
  margin-top: -11px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
#rec13,
#rec14,
#rec15 {
  margin-top: 11px;
}
footer {
  margin-top: 145px;
  background-color: #030303;
  width: 100%;
  height: 41px;
}
#layout2 .rec {
  width: 457px;
  height: 299px;
  background-color: #c4c4c4;
  margin-top: 70px;
}
.column1 {
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.column2 {
  margin-top: 168px;
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#layout2 footer {
  margin-top: -50px;
  position: fixed;
  bottom: 0;
  right: 0;
}
#layout2 .column3 .rec {
  width: 80px;
  height: 80px;
  background-color: #000000;
}
#wikilinks {
  margin-top: 544px;
  margin-left: 44px;
}

#smallrec2 {
  margin-top: 48px;
  align-self: flex-end !important;
  background-color: #ffffff !important;
}
#layout2 .column3 {
  width: 169px;
  height: 1925px;
  margin-left: 140px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  background-color: #ebef18;
}
#layout3 {
  margin: 0;
  width: 90%;
}
#layout3 .textbox {
  margin-left: 38px;
  margin-top: 123px;
  width: 372px;
  height: 995px;
}
#layout3 .textbox a {
  margin-left: 18px;
}
.leftsidebar {
  margin-top: 0px;
  width: 372px;
  min-height: 995px;
  height: auto;
  background-color: #e5e5e5;
  display: inline-flex;
}
.yellow_background {
  background-color: #ffff00;
  width: 111%;
  height: 463px;
}
#layout3 header {
  width: 111%;
  height: 123px;
  background-color: #f2e9e9;
}
#addSquare {
  width: 80px;
  height: 80px;
  background-color: #000000;
  margin-top: 21px;
  margin-right: 24px;
  float: right;
}
#layout3 nav {
  display: flex;
  width: 104px;
  min-height: 1120px;
  background-color: #1847ef4d;
  position: absolute;
  right: 0;
}
#layout3 footer {
  margin-top: 0px;
  width: 111%;
}
.game {
  width: 66%;
  height: 80%;
}
@media all and (max-width: 500px) {
  #layout3 {
    margin: 0;
    width: 90%;
  }
  .cardName {
    color: #25902c;
  }
  #layout3 .maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #layout3 .textbox {
    font-size: 10px;
    height: 105px;
    display: flex;
    margin-top: 45px;
    margin-left: 1.25%;
  }

  #layout3 a {
    margin-left: 12px;
  }
  .leftsidebar {
    margin-top: 0px;
    width: 100%;
    min-height: 105px;
    background-color: #e5e5e5;
    display: flex;
  }
  .yellow_background {
    background-color: #ffff00;
    width: 100%;
    height: 474px;
  }
  #layout3 header {
    width: 100%;
    height: 123px;
    background-color: #f2e9e9;
  }
  #addSquare {
    width: 60px;
    height: 60px;
    background-color: #000000;
    margin-top: 21px;
    margin-right: 24px;
    float: right;
  }
  #layout3 nav {
    width: 0px;
    height: 0px;
    display: none;
  }
  #layout3 footer {
    margin-top: 0px;
    width: 100%;
  }
  #play {
    margin-left: 20px;
    display: inline-block;
    padding: 1rem !important;
    margin: 25px;
  }
  #reset {
    margin-top: 25px;
    padding: 1rem !important;
    margin-left: 50px;
  }
  .gameButtons {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}

@media all and (min-width: 1500px) {
  #layout3 {
    margin: 0;
    width: 90%;
  }
  #layout3 .maincontainer {
    display: flex;
  }
  #layout3 header {
    width: 111%;
    height: 123px;
    background-color: #f2e9e9;
  }
  header {
    width: 111%;
  }
  footer {
    width: 111%;
  }
  .maincontainer {
    width: 111%;
  }
  .yellow_background {
    background-color: #ffff00;
    width: 111%;
    height: 474px;
  }
}
.square {
  background-color: rgb(0, 0, 0);
  margin: 10px;
  font-size: large;
  color: #f2e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#squaresSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#oddAmountAlert {
  color: red;
  display: none;
}

#winAlert {
  color: green;
  display: none;
}

.notification {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}

#layout3 section {
  display: flex;
}

#play {
  margin-left: 20px;
  left: 0;
  float: left;
  position: absolute;
}
#reset {
  position: absolute;
  left: 20%;
}

#layout3 .cardName {
  color: #25902c;
}
